/* soft reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0edfb;
  background-size: auto 100vh;
  height: 100vh;
  /* font-family: "Source Code Pro", monospace; */
  font-family: "Zilla Slab", serif;
  font-size: 12px;
}

/* breakpoint */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}

.menu li {
  list-style: none;
  font-family: "Jost", sans-serif;
}

.menu a {
  display: block;
  padding: 10px 20px;
  color: #0089ef;
  text-decoration: none;
  transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
  background-color: #f1356d;
  color: white;
  text-decoration: underline;
}

.titulo {
  animation: linear 2s animacaoTitulo forwards;
}

@keyframes animacaoTitulo {
  from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.site-subtitle,
.site-title {
  text-align: center;
}

.site-title {
  font-family: "Jost", sans-serif;
  font-size: 4em;
  color: #3a2c60;
}

.site-subtitle {
  line-height: 1.8em;
  font-family: "Zilla Slab", serif;
  color: #f1356d;
}

.site-subtitle:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #f1356d;
  margin: 14px auto 10px auto;
}

.site-subtitle:before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #f1356d;
  margin: 14px auto 10px auto;
}

/* SOBRE */

.sobre {
  background: #f9f9f9;
  color: #0089ef;
  min-height: 400px;
  padding: 2em;
}

.sobre h2 {
  font-family: "Righteous", cursive;
  font-size: 2em;
  margin-bottom: 1.5em;
  text-align: center;
  color: #0089ef;
}

.sobre h2:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #0089ef;
  margin: 14px auto 10px auto;
}

.sobre p {
  color: #3a2c60;
  text-align: left;
  margin: 0 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}

.sobre h3 {
  font-family: "Righteous", cursive;
  margin: 0 0 1.5em;
}

/* .sobre h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #0089ef;
  margin: 10px 0 10px 0;
} */

/* SERVIÇOS */
.servicos {
  background-color: #f1f1f1;
  color: #3a2c60;
  padding: 2em;
  /* min-height: 100vh; */
  min-height: 500px;
}

.servicos h2 {
  font-family: "Righteous", cursive;
  font-size: 2em;
  color: #0089ef;
  margin-bottom: 1.5em;
  text-align: center;
}

.servicos h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #0089ef;
  margin: 14px auto 10px auto;
}

.servicos .grid {
  display: grid;
}

@media (min-width: 560px) {
  .servicos .grid {
    display: grid;
    grid-template-columns: 260px 260px;
    justify-content: center;
  }
  .servicos {
    min-height: 400px;
  }
}

@media (min-width: 1000px) {
  .servicos .grid {
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    align-content: center;
  }
}

@media (min-width: 1165px) {
  .servicos .grid {
    grid-template-columns: repeat(4, 200px);
    align-content: center;
    justify-content: center;
    gap: 5em;
  }
}

.servicos figure {
  text-align: center;
}

.img-servicos {
  width: 100px;
  object-fit: cover;
  transition: transform 500ms;
}

.img-servicos:hover {
  transform: scale(1.2);
}

@media (min-width: 1200px) {
  .img-servicos {
    width: 8em;
  }
}

/* CONTATO */
.contato {
  background: #d8d8d8;
  color: #0089ef;
  min-height: 400px;
  padding: 2em;
}

.contato h2 {
  font-family: "Righteous", cursive;
  font-size: 2em;
  margin-bottom: 1.5em;
  text-align: center;
  color: #0089ef;
}

.contato h2:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #0089ef;
  margin: 14px auto 10px auto;
}

.contato a {
  font-size: 2em;
  color: #3a2c60;
  transition: text-shadow 1s;
  text-decoration: none;
}

.contato a:active,
.contato a:hover {
  color: #f1356d;
  text-decoration: none;
  text-shadow: 0px 0px 10px rgba(40, 40, 40, 0.5);
}

.contato .icons {
  text-align: center;
}

.contato p {
  color: #3a2c60;
  text-align: center;
  margin: 0 0 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}

/* Footer */

.rodape {
  background: rgb(36, 39, 44);
  background-size: 100vh;
  padding: 10px;
}

.rodape p {
  color: whitesmoke;
  text-align: center;
  font-size: 16px;
  font-family: "Jost", sans-serif;
}
